.text-muted:hover {
    color: #0d6efd !important; /* Bootstrap'in birincil rengi */
    transition: color 0.3s ease-in-out;
  }
  .bi-twitter:hover {
    color: #1DA1F2 !important;
  }
  .bi-instagram:hover {
    color: #E1306C !important;
  }
  .bi-linkedin:hover {
    color: #0077B5 !important;
  }
  .bi-youtube:hover {
    color: #FF0000 !important;
  }
  .bi-tiktok:hover {
    color: #000000 !important;
  }
  